<div class="row">

  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count">
      <div class="dash-counts">
        <h4>
          {{ TotaBook }}
        </h4>
        <h5>Total Books</h5>
      </div>
      <div class="dash-imgs">
        <i class="fas fa-book"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das1">
      <div class="dash-counts">
        <h4>
          {{ TotaCustomer }}
        </h4>
        <h5>Total Customers</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="user-check"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das2">
      <div class="dash-counts">
        <h4>{{TotaOrderAmunt}}</h4>
        <h5>Income</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="file-text"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das3">
      <div class="dash-counts">
        <h4>{{LastMonthProfit}}</h4>
        <h5>Last Month Profit</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="file"></i-feather>
      </div>
    </div>
  </div>
</div>

<div class="card mb-0">
  <div class="card-body">
    <h4 class="card-title">Best selling book</h4>
    <div class="table-responsive dataview">

    </div>
  </div>
</div>
